---
name: Make

on:
  schedule:
    - cron:  '0 0 1 * *'
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        submodules: true

    - name: Build
      if: runner.os != 'Windows'
      shell: bash
      run: |
        sudo bash -c 'apt-get update; apt-get install -y lazarus' >/dev/null
        declare -rx INSTANTFPCOPTIONS='-Fu/usr/lib/lazarus/*/components/lazutils'
        instantfpc '.github/workflows/make.pas' build

    - name: Build on Windows
      if: runner.os == 'Windows'
      shell: powershell
      run: pwsh -File .github/workflows/make.ps1
